<style>
    .bg-246174{
        background : #246174;
        background-color: #246174
    };
</style>
<nav style="position: fixed;
left: 0;
top: 0;
width: 100%; z-index: 100;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class = "container">
        <a class="navbar-brand" href="#"><b>CKD Health</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if request.path != '/register/' %}
                <li style="margin-left: 25px" class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard-index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li style="margin-left: 25px" class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard-journal' %}">Meal Entry<span class="sr-only">(current)</span></a>
                </li>
                <li style="margin-left: 25px" class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard-suggestions' %}">Dietary Tips<span class="sr-only">(current)</span></a>
                </li>
                <li style="margin-left: 25px" class="nav-item active">
                <a class="nav-link" href="{% url 'entries' %}">Nutrition Journal<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>