{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<h1><b>Journal Entries for {{currentUser.first_name}} {{currentUser.last_name}}</b></h1>
    <div class="entries">
        {% for entries in journal_entries %}
            {%if date_str != entries.date_recorded%}
                <h3><b>{{entries.date_recorded}}</b></h3>
            {%endif%}
            {%if currentUser.personID == entries.personID%}
            <p style="border: 1px solid black;">
                <!--{{ entries.personID }} <br>-->
                <!--{{ entries.date_time_recorded }} --> 
                <b>{{ entries.food_name }} </b><br>
                <span style="font-weight: bold;">Amount:</span> {{ entries.amount }} <br>
                {{ entries.journalID }} <br>
                <b>Time Eaten:</b> {{ entries.time_recorded }} <br>
                {% comment %} <a class="nav-link" href="{% url 'update-entries' {{entries.journalID}} %}">Update Journal Entry</a> {% endcomment %}
                </p>
            {%endif%}
            {%with date_str=entries.date_recorded%}
            {%endwith%}
        {% endfor %} 
    </div>
{% endblock %}