{% extends 'partials/base.html'%} 
{% load static %}
{%block content %}
{% load crispy_forms_tags %}
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $(function() {
          $( "#some_flag" ).dialog({
              modal: true,
              closeOnEscape: false,
              dialogClass: "no-close",
              resizable: false,
              draggable: false,
              width: 800,
              buttons: [
                  {
                      text: "OK",
                      click: function() {
                      $( this ).dialog( "close" );
                      }
                  }
              ]
          });
      });
  });
  $(document).ready(function(){

    $("#some_flag").on("click", function(){
          $("#some_flag").hide();
    });

  });
</script>
{% if alerts %}
    <div id="some_flag" title="Some Flag" style="background-color: red; text-align: center;">
        <p style="color:white;">Warning! Your {{alerts}} levels are too high! See dietary tips.        (X)</p>
    </div>
{% endif %}
<div class="row mt-3 pt-3" style="float:; margin-left:auto; margin-top: 3.0em;">
  <ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
    
    <li class="nav-item">
      <h4>Welcome, <b>{{currentUser.first_name}} {{currentUser.last_name}}</b>!</h4>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard-profile' %}">View Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    {% else %}

    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>

    {% endif %}
  </ul>


  <div class="col-md-8">
    <canvas id="barchart" width="400" height="300"></canvas>
  </div>

  <div class="col-md-8" style="float:right; margin-left:auto; margin-top: 3.0em;">
    <canvas id="timeline" width="400" height="300"  ></canvas>
  </div>

 <script>
    //bar data
      const data = {
        labels: [{% for data in names %} '{{data}}', {% endfor %}],
          datasets: [
            {
              type: "bar",
              label: "Daily Nutient Intake",
              data: [{% for data in totals %} {{data}}, {% endfor %}],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
            {
            type: 'line',
            label: 'Recommended Daily Values',
            data: [2750, 900, 2702, 2000, {{protein}}, {{sugar}}],
            // borderColor: Utils.CHART_COLORS.red,
            // fill: false,
            // stepped: true
        }
          ]
      };
    
    //bar config
      const config = {
        data,
        options: {
          plugins: {
            title: {
                display: true,
                text: "Today's NUTRIENTS",
                font: {size: 20}
            }
        },
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      }

    //barchart render
      const barChart = new Chart(
        document.getElementById("barchart").getContext('2d'),
        config)
  
    //line data
    const ldata ={
      labels: ['Today', 'Yesterday', '2 Days Ago', '3 Days Ago', '4 Days Ago', '5 Days Ago', '6 Days Ago'],
        datasets: [{
          label: 'Potassium',
          data: [{%for data in wpot%} {{data}}, {%endfor%}],
          fill: false,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgb(255, 99, 132)',
          tension: 0.1
          },
          {
          label: 'Phosphorus',
          data: [{%for data in wphos%} {{data}}, {%endfor%}],
          fill: false,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgb(54, 162, 235)',
          tension: 0.1
          },
          {
          label: 'Sodium',
          data: [{%for data in wsod%} {{data}}, {%endfor%}],
          fill: false,
          backgroundColor: 'rgba(255, 206, 86, 0.2)',
          borderColor: 'rgb(255, 206, 86)',
          tension: 0.1
          },
          {
          label: 'Calcium',
          data: [{%for data in wcal%} {{data}}, {%endfor%}],
          fill: false,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
          },
          {
          label: 'Protein',
          data: [{%for data in wpro%} {{data}}, {%endfor%}],
          fill: false,
          backgroundColor: 'rgba(153, 102, 255, 0.2)',
          borderColor: 'rgb(153, 102, 255)',
          tension: 0.1
          },
          {
          label: 'Sugar',
          data: [{%for data in wsug%} {{data}}, {%endfor%}],
          fill: false,
          backgroundColor: 'rgba(255, 159, 64, 0.2)',
          borderColor: 'rgb(255, 159, 64)',
          tension: 0.1
          },
    ]}

    //line config
    const lconfig = {
      type: 'line',
      data: ldata,
      options: {
          plugins: {
            title: {
                display: true,
                text:  "{{currentUser.first_name}}'s Weekly Nutrition",
                font: {size: 20}
            }
        },
      },
    };

    //line render
    const lchart = new Chart(
      document.getElementById('timeline').getContext('2d'),
      lconfig);
    </script>
</div>
{% endblock %}
