{% extends 'partials/base.html'%} 
{% block title %} Dashboard {% endblock %} {%block content %}
{% load crispy_forms_tags %}
<div class="row mt-3 pt-3">
  <ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
    
    <li class="nav-item">
      <h4>Welcome, {{currentUser.first_name}} {{currentUser.last_name}}!</h4>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    <br>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard-profile' %}">View Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard-journal' %}">Meal Entry</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard-suggestions' %}">Dietary Tips</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'entries' %}">Journal Entries</a>
    </li>

    {% else %}

    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>

    {% endif %}
  </ul>
  <div class="col-md-8">
    <canvas id="myChart" width="400" height="300"></canvas>
    <script>
      const ctx = document.getElementById("myChart").getContext("2d");
      const myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: [{% for data in data %} '{{data.movie}}', {% endfor %}],
          datasets: [
            {
              label: "Domestic Box Office Amounts (in millions)",
              data: [{% for data in data %} {{data.domesticBoxOffice}}, {% endfor %}],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </div>
</div>
{% endblock %}
