{% extends 'partials/base.html'%} 
{% load static %}
{%block content %}
{% load crispy_forms_tags %}
<div class="row mt-3 pt-3">
  <ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
    
    <li class="nav-item">
      <h4>Welcome, <b>{{currentUser.first_name}} {{currentUser.last_name}}</b>!</h4>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard-profile' %}">View Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    {% else %}

    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>

    {% endif %}
  </ul>

  <div class="col-md-8">
    <canvas id="barchart" width="400" height="300"></canvas>
  </div>

  <div class="col-md-8">
    <canvas id="timeline" width="400" height="300"></canvas>
  </div>

    <script>
    //bar data
      const data = {
        labels: [{% for data in names %} '{{data}}', {% endfor %}],
          datasets: [
            {
              type: "bar",
              label: "Daily Nutient Intake",
              data: [{% for data in totals %} {{data}}, {% endfor %}],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
            {
            type: 'line',
            label: 'Recommended Daily Values',
            data: [2750, 900, 2702, 2000, {{protein}}, {{sugar}}],
            // borderColor: Utils.CHART_COLORS.red,
            // fill: false,
            // stepped: true
        }
          ]
      };
    
    //bar config
      const config = {
        data,
        options: {
          plugins: {
            title: {
                display: true,
                text: 'Daily Nutrition',
                font: {size: 20}
            }
        },
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      }

    //barchart render
      const barChart = new Chart(
        document.getElementById("barchart"),
        config)
  
    //line data
    const ldata ={
      labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
        datasets: [{
          label: 'Weekly Nutrition',
          data: [{%for data in wpot%} {{data}} {% endfor %}],
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
     }]}

    //line config
    const lconfig = {
      type: 'line',
      data: ldata,
    };

    //line render
    const lchart = new Chart(
      document.getElementById('timeline'),
      lconfig);
    </script>
  
</div>
{% endblock %}
