{% extends 'partials/base.html' %} 
{% load static %} 
{% block content %}
{% load crispy_forms_tags %}
<h1>Daily Food Journal</h1>
<br>
<div class = "border p-3 shadow">
    <h4>Input Foods Eaten</h4>
    <hr>
    <form method="POST" action="{% url 'jounalEntryAdd'%}" name="form">
        {% csrf_token %}
        <label for="food_name">Food Name:</label>
        <input type="text" name="food_name" maxlength="20">
        <button class = "btn btn-success btn-block" type='submit'>
    </form>
</div>
{% endblock %}